*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.box{
    width: 100%;
    height: 100vh;
    display: flex;
    .box1{
        background-color: blue;
        width: 150px;
        height: 150px;
        position: relative;
        animation: round 2s infinite;
    }
    .box2{
        background-color: rgb(21, 110, 13);
        width: 150px;
        height: 150px;
        position: relative;
        animation: round 2s infinite;  
    }
}

@keyframes round{
    0%{
        top: 0;
        left: 0;
    }
    25%{
        top:0;
        left: 150px;
        transform: (90deg);
    }
    50%{
        left: 150px;
        top: 150px;
        transform: (180deg);
    }
    75%{
        top:150px;
        left:0;
        transform: (270);
    }
    100%{
        top: 0;
        left: 0;
        transform: (360deg);
    }
}

@keyframes round-one {
    0%{
        top: 50px;
        left: 50px;
    }
    25%{
        top:50px;
        left: 200px;
        transform: (90deg);
    }
    50%{
        left: 150px;
        top: 150px;
        transform: (180deg);
    }
    75%{
        top:150px;
        left:0;
        transform: (270);
    }
    100%{
        top: 0;
        left: 0;
        transform: (360deg);
    }
}